<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>聊天室</title>
</head>
<body>
        <div class="middmain">
                <div  class="leftbian">
                <div class="lefttitle" style="background:url(/static/images/08.gif)">TALK...</div>
                <div class="lefttopcontent"  style="background:url(/static/images/littlexian.jpg) repeat-y">
                <div class="litlecontent"><a href="Building">好友列表</a>
                <font>FRIENDS</font></div>
                <div class="litlecontent"><a href="Building">推荐好友</a>
                <font> RECOMMENDS</font></div>
                <div class="litlecontent"><a href="Building">附近的人</a>
                  <font> NEARBY</font></div>
                </div>
                </div>
                <div class="middtop">
                </div>
                
                </div>
</body>
</html>