<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人生活圈</title>
</head>
<body>
    <form action="/life_circule" method="POST">
        <fieldset style="width: 300px;height: 100%;">
            <legend>{{params.name}}发表于{{params.time}}</legend>
            <p>
                <span>{{params.content}}</span>
            </p>
            <p>
                <span>
                    <a href="#" onclick="">❤</a>
                    <label for="counts" onclick="">{{params.goods_coout}}</label>
                </span>
            </p>
            <p>
                
            </p>
        </fieldset>
    </form>

</body>
</html>