<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <script src="/static/layui/layui.js"></script>
    {% for message in get_flashed_messages() %}
    <script>
        layer.msg("{{ message }}");
    </script>            
    {% endfor %}
    {% block content %}{% endblock %}
    <!-- <script>
        
    </script>
    <main>
        
    </main> -->
</body>
</html>