
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>一个用心交友的网站</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/global.css">
</head>
<style>
    #new,#hot:hover{
        cursor: pointer;
  }
</style>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/static/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="/building"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <!-- <li class="layui-nav-item">
        <a href="#"><i class="iconfont icon-iconmingxinganli"></i>生活圈</a>
      </li> -->
      <!-- <li class="layui-nav-item">
        <a href="#" target="_blank"><i class="iconfont icon-ui"></i>项目进度报告</a>
      </li> -->
    </ul>
    
    <ul class="layui-nav fly-nav-user" id="no" style="display: none">
      
      <!-- 未登入的状态 -->
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="/user/login"></a>
      </li>
      <li class="layui-nav-item">
        <a href="/user/login">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="/user/reg">注册</a>
      </li>
      <li class="layui-nav-item layui-hide-xs">
        <!-- <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a> -->
        <a href="/building" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
      </li>
      <!-- <li class="layui-nav-item layui-hide-xs">
        <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
      </li> -->
    </ul>
    <ul class="layui-nav fly-nav-user" id="yes" style="display: none">
      <!-- 登入后的状态 -->      
      <li class="layui-nav-item">
        <a class="fly-nav-avatar" href="javascript:;">
          <cite class="layui-hide-xs" id="username"></cite>
          <i class="iconfont icon-renzheng layui-hide-xs"></i>
          <i class="layui-badge fly-badge-vip layui-hide-xs" id="user_type"></i>
          <img id="user_img" >
        </a>
        <dl class="layui-nav-child">
          <dd><a href="/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
          <!-- <dd><a href="/user/message.html"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd> -->
          <dd><a href="/user/home"><i class="layui-icon" style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a></dd>
          <hr style="margin: 5px 0;">
          <dd ><a a href="/user/logout" style="text-align: center;">退出</a></dd>
        </dl>
      </li>     
    </ul>
  </div>
</div>

<div class="fly-panel fly-column">
  <div class="layui-container">
    <ul class="layui-clear">
      <li class="layui-hide-xs layui-this"><a href="/">首页</a></li> 
      <!-- <li><a href="#">提问</a></li>        -->
      <li><a href="#">建议</a></li> 
      <li><a href="#">公告</a></li> 
      <li><a id="trends">动态</a></li> 
      <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li> 
      
      <!-- 用户登入后显示 -->
      <!-- <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/">我的动态</a></li>  -->
      <!-- <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="/">我收藏的生活感言</a></li>  -->
    </ul> 
    
    <div class="fly-column-right layui-hide-xs"> 
      <span class="fly-search"><i class="layui-icon"></i></span> 
      <a href="/user/publishing" class="layui-btn" id="publishing">发表动态</a> 
    </div> 
    <!-- <div class="layui-hide-sm layui-show-xs-block" style="margin-top: -10px; padding-bottom: 10px; text-align: center;"> 
      <a href="#" class="layui-btn">发表生活感言</a>  -->
    </div> 
  </div>
</div>

<div class="layui-container" id="main">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8">
      <div class="fly-panel" style="height: 480px;overflow: hidden">
        <div class="fly-panel-title fly-filter" >          
          <a href="#signin" class="layui-hide-sm layui-show-xs-block fly-right" id="LAY_goSignin" style="color: #FF5722;">去签到</a>
          <span class="fly-filter-right layui-hide-xs">
            <a  class="layui-this" id="new">按最新</a>
            <span class="fly-mid"></span>
            <a id="hot">按热议</a>
          </span>
        </div>
        <ul class="fly-list" id="express" style="height: 480px;overflow-y:scroll;" ></ul>
      </div>
    </div>
    <div class="layui-col-md4">

      <div class="fly-panel">
        <h3 class="fly-panel-title">温馨通道</h3>
        <ul class="fly-panel-main fly-list-static">
          <li>
            <a href="https://wenku.baidu.com/view/94d756caba4cf7ec4afe04a1b0717fd5360cb2a2.html" target="_blank">交流沟通原则与技巧</a>
          </li>
          <li>
            <a href="https://baijiahao.baidu.com/s?id=1594633058256654601&wfr=spider&for=pc" target="_blank">
              所谓高情商，就是为他人着想的善良
            </a>
          </li>
          <li>
            <a href="https://zhuanlan.zhihu.com/p/89051236" target="_blank">
              如何高效沟通</a>
          </li>
          <li>
            <a href="http://www.uokon.com/work/fective-communication.html" target="_blank">
              建立有效沟通的10个技巧
            </a>
          </li>
          <li>
            <a href="https://weiaiqinggan.com/yuanli/15792.html" target="_blank">高情商撩妹法则</a>
          </li>
          <li>
            <a href="https://jingyan.baidu.com/article/7c6fb428cb088180642c90ea.html" target="_blank">
              怎样与人有效沟通</a>
          </li>
          <li>
            <a href="https://baijiahao.baidu.com/s?id=1600542537253251266&wfr=spider&for=pc" target="_blank">
              四个方法，让你彻底学会时间管理，真正做自己！</a>
          </li>
          <li>
            <a href="https://jingyan.baidu.com/article/a681b0de0f7b0f3b184346c7.html" target="_blank">
              六个简单高效的时间管理方法</a>
          </li>
          <li>
            <a href="http://www.360doc.com/content/19/0202/00/1597421_812631668.shtml" target="_blank">
              六个高效时间管理法</a>
          </li>
          <li>
            <a href="#" target="_blank">
              .......</a>
          </li>
        </ul>
      </div>
      <div class="fly-panel fly-signin">
        <div class="fly-panel-title">
          签到
          <i class="fly-mid"></i> 
          <a href="javascript:;" class="fly-link" id="LAY_signinHelp">说明</a>
          <i class="fly-mid"></i> 
          <!-- <a href="javascript:;" class="fly-link" id="LAY_signinTop">活跃榜<span class="layui-badge-dot"></span></a> -->
          <span class="fly-signin-days">已连续签到<cite id="kiss_days">0</cite>天</span>
        </div>
        <div class="fly-panel-main fly-signin-main">
          <button class="layui-btn layui-btn-danger" id="LAY_signin">今日签到</button>
          <span>可获得<cite id="kiss_count">0</cite>飞吻</span>
          
          <!-- 已签到状态 -->
          <!--
          <button class="layui-btn layui-btn-disabled">今日已签到</button>
          <span>获得了<cite>20</cite>飞吻</span>
          -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">  
  <p>    
    <a href="#" target="_blank">微信公众号</a>
  </p>
</div>

<script src="/static/layui/layui.js"></script>
<!-- <script src="/static/mods/index.js"></script> -->
<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/common.js"></script>
<script>
// $("#trends").bind("click",function(){
//     $("#main").load("/templates/set.html")
// })
$(function(){
// 获取个人信息
$.ajax({
          url:'/user_info',
          type:'post',
          async:true,
          dataType:'json',
          // contentType:'application/json;charset=utf-8',
          // data:JSON.stringify({"1":"uid"}),//JSON字符串
          success:function(response){
              // console.log(response);
              //在响应成功后 恢复摁钮
              // var data=JSON.stringify(response)
              var data=response             
              if (data.uid==""){
                $('#no').show();
                // 没有登录不能发表动态
                $("#publishing").bind("click",function(){
                  layer.msg("请先登录",{shift: 6});
                  return false;
                })
              }
              else{                
                var vip="VIP"+data.user_type;
                $("#username").text(data.username);
                $("#user_type").text(vip);
                var img_url="/static/images/avatar/"+data.uid+".jpg";
                $("#user_img").attr("src",img_url)
                $("#user_img").attr("onerror","this.src='/static/images/avatar/default.png'")
                $('#yes').show();
              }             
          },
          // error:function(){              
          //     $('#btn').removeAttr('disabled');
          // },
          // beforeSend:function(){
          //     //防止用户重复提交 
          //     //在发送请求之前 禁用摁钮
          //     $('#btn').attr('disabled','disabled');
          //     $('#loading').show();
          // }
      })
// 获取个人签到数据
$.ajax({
          url:'/user/kiss',
          type:'post',
          async:true,
          data:{"type":"query"},
          dataType:'json',
          // contentType:"application/json;charset=utf-8",
          success:function(res){
            // var data=res;
            console.log(res.status,res.signed)
            if(res.status=="1000"&&res.signed=="true"){
              console.log(res)
              $("#LAY_signin").text("今日已签到");
              $("#LAY_signin").addClass('layui-btn-disabled');
              $("#kiss_days").text(res.days);
              $("#kiss_count").text(res.experience);
            }
          }       
      })
get_circle("new");
// 获取动态信息
$("#new").bind("click",function(){
  $("#new~a").removeClass("layui-this");
  $("#new").addClass("layui-this");
  clearInterval(timeer);
  get_circle("new");
})
$("#hot").bind("click",function(){
  $("#new").removeClass("layui-this");
  $("#hot").addClass("layui-this");
  clearInterval(timeer);
  get_circle("comment");
})
function get_circle(sort_type){
  $.ajax({
  url:"/user/circle",
  type:"post",
  dataType:"json",
  async:true,
  data:{"sort_type":sort_type},
  success:function(response){
    var data=response; 
    console.log(data)

    // 先删除子元素
    $("#express").empty();
    $.each(data,function(index,obj){  
    var html='<li><a href="/user/home" class="fly-avatar">';
    html+="<img id=img_"+index+"></a>";   
    html+='<h2><a class="layui-badge">'+obj.class_type+'</a><a href="/user/detail?cid='+obj.id+'">'+obj.title+'</a></h2>'; 
    html+='<div class="fly-list-info"><a href="/user/home" link>';  
    html+='<cite>'+obj.username+'</cite>';
    html+='<i class="iconfont icon-renzheng"></i>';
    html+='<i class="layui-badge fly-badge-vip">VIP'+obj.user_type+'</i></a>';
    html+='<span>'+obj.posted_time+'</span>';
    html+='<span class="fly-list-kiss layui-hide-xs" title="飞吻">';
    html+='<i class="iconfont icon-kiss"></i> '+obj.kiss_count+'</span>';
    html+='<span class="fly-list-nums">';
    html+='<i class="iconfont icon-pinglun1" title="回答"></i> '+obj.comment_count+'</span></div></li>'
    var img_url="/static/images/avatar/"+data.uid+".jpg";
    $("#express").append(html);
    $('#express img').attr("src",img_url);
    $('#express img').attr("onerror","this.src='/static/images/avatar/default.png'");
    })  
  //  加入滚动动画
    animate();
  }
})
}  
})

</script>

<script>
function animate(){
  // layer.msg('dddd')
  var marginTop =0;
        var bool=false;
        // 判断有多少个li 
        var lengli = $("#express li").length+1;
        console.log("aa",lengli)
        timeer=setInterval(function(){
            if(bool) return;//判断运行和停止
            $("#express li:first").animate({marginTop:marginTop--},0,function(){
                if(!($(this).is(":animated"))) {    //判断是否有一个动画节点
                    if ((-marginTop) >= $(this).height()*lengli) {  //判断移出位置是否超过高度
                        $(this).css("margin", "0");                        
                        // $(this).appendTo($("#express"));  //把第一个节点移到ul后面
                        marginTop = 0;      //重新设置移动数值
                    }
                }
            });
        },40);
        $("#express").mouseover(function(){   //li鼠标移入，停止移动
            bool=true;
        });
        $("#express").mouseout(function(){
            bool=false;
        });
}
</script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/static/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '/static/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_30088308'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "w.cnzz.com/c.php%3Fid%3D30088308' type='text/javascript'%3E%3C/script%3E"));</script>

</body>
</html>