
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>登入</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="fly,layui,前端社区">
  <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力"> -->
  <link rel="stylesheet" href="/static/layui/css/layui.css">
  <link rel="stylesheet" href="/static/css/global.css">
  
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <img src="/static/images/logo.png" alt="layui">
    </a>
    <ul class="layui-nav fly-nav layui-hide-xs">
      <li class="layui-nav-item layui-this">
        <a href="#"><i class="iconfont icon-jiaoliu"></i>交流</a>
      </li>
      <!-- <li class="layui-nav-item">
        <a href="#"><i class="iconfont icon-iconmingxinganli"></i>bb</a>
      </li>
      <li class="layui-nav-item">
        <a href="#" target="_blank"><i class="iconfont icon-ui"></i>cc</a>
      </li> -->
    </ul>
    
    <ul class="layui-nav fly-nav-user">
      <!-- 未登入的状态 -->
      <li class="layui-nav-item">
        <a class="iconfont icon-touxiang layui-hide-xs" href="/user/login"></a>
      </li>
      <li class="layui-nav-item">
        <a href="/user/login">登入</a>
      </li>
      <li class="layui-nav-item">
        <a href="/user/reg">注册</a>
      </li>
      <li class="layui-nav-item layui-hide-xs">
        <a href="/app/qq/" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" title="QQ登入" class="iconfont icon-qq"></a>
      </li>
      <li class="layui-nav-item layui-hide-xs">
        <a href="/app/weibo/" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" title="微博登入" class="iconfont icon-weibo"></a>
      </li>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop">
  <div class="fly-panel fly-panel-user" pad20>
    <div class="layui-tab layui-tab-brief" lay-filter="user">
      <ul class="layui-tab-title">
        <li class="layui-this">登入</li>
        <li><a href="/user/reg">注册</a></li>
      </ul>
      <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
        <div class="layui-tab-item layui-show">
          <div class="layui-form layui-form-pane">
            <form method="POST">
              <div class="layui-form-item">
                <label for="L_email" class="layui-form-label" >邮箱</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_email" name="email" required lay-verify="email" placeholder="请输入邮箱地址" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_pass" class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                  <input type="password" id="L_pass" name="pass" placeholder="请输入密码" required lay-verify="required" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label for="L_vercode" class="layui-form-label">图形码</label>
                <div class="layui-input-inline">
                  <input type="text" id="L_vercode" name="vercode" required lay-verify="required" placeholder="请输入图形码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-pane">
                    <canvas width="120" height="38" id="c1"></canvas>
                    <label id="error_mesg" style="color: red"></label>
                    <label id="figure_code" style="display: none;"></label>
                  <!-- <span style="color: #c00;">d</span> -->
                </div>
              </div>
             </form>
              <div class="layui-form-item">
                <!-- <input type="submit" class="layui-btn" lay-filter="*" id="btn_login" value="立即登录" > -->
                <button class="layui-btn" lay-filter="*"   id="btn_login">立即登录</button>
                <span style="padding-left:20px;">
                  <a href="/user/forget">忘记密码？</a>
                </span>
              </div>
              <div class="layui-form-item fly-form-app">
                <span>或者使用社交账号登入</span>
                <a href="" onclick="layer.msg('正在通过QQ登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-qq" title="QQ登入"></a>
                <a href="" onclick="layer.msg('正在通过微博登入', {icon:16, shade: 0.1, time:0})" class="iconfont icon-weibo" title="微博登入"></a>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fly-footer">  
  <p>    
    <a href="#" target="_blank">微信公众号</a>
  </p>
</div>
<script src="/static/js/canvas.js"></script>
<script src="/static/layui/layui.js"></script>

<script src="/static/js/jquery-3.4.1.min.js"></script>
<script src="/static/js/common.js"></script>
<script>
    ProductCanvas($("#figure_code"));  
    $("#c1").bind("click",function(){
      ProductCanvas($("#figure_code"));
    })
    var input_code=document.getElementById("L_vercode");
    input_code.onkeyup=function(){
      var figure_code=document.getElementById("figure_code");      
      var error_mesg=document.getElementById("error_mesg");      
      if(figure_code.value!=input_code.value.toUpperCase()){        
        error_mesg.innerText="图形验证不符，请重新输入";    
        // input_code.value="";
        // input_code.setAttribute("value","");  
        
      }
      else{
        error_mesg.innerText=""; 
        
      }
    }
    // 邮箱验证
    function email_check(str){
      var reg1=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/ig;
      if(!reg1.test(str))
      {
        return false;
      }
      return true;
    }
    var btn=document.getElementById("btn_login");
    btn.onclick=function(){
      //验证邮箱
      if(!email_check($("#L_email").val()))
      {
        layer.msg("邮箱格式错误");
        return false;
      } 
      //验证密码
      if(!$("#L_pass").val()){
        layer.msg("密码不能为空");
        return false;
      }           
      if(error_mesg.innerText!="" || $("#L_vercode").val()==""){
        input_code.focus();
        layer.msg("验证码错误或没有填写");
        return false;
      }
      else{
        //0.创建xhr对象
        //var xhr=new XMLHttpRequest()
        //1.创建请求
        // return true;
        var formobj = document.querySelector('form');
        console.log(formobj)
        xhr.open('post','/user/login',true);
        console.log(xhr)
        xhr.onreadystatechange=function(){
        console.log(xhr.readyState)
        if(xhr.readyState==4&&xhr.status==200){
          //处理响应JSON
          var data=JSON.parse(xhr.responseText)
          if(data.status=="1000")
          {
            //设延时跳转
            setTimeout(function(){
              clearTimeout();
              location.href=data.value;
            },1200)            
          }
          layer.msg(data.Msg);
        }
         }
        //3.发送请求
        xhr.send(convert_FormData_to_json(new FormData(formobj)))
        console.log(convert_FormData_to_json(new FormData(formobj)))
      }
    }  
    
</script>
<script>
layui.cache.page = 'user';
layui.cache.user = {
  username: '游客'
  ,uid: -1
  ,avatar: '/static/images/avatar/00.jpg'
  ,experience: 83
  ,sex: '男'
};
layui.config({
  version: "3.0.0"
  ,base: '/static/mods/'
}).extend({
  fly: 'index'
}).use('fly');
</script>

</body>
</html>